<div class="container">
    <table class="table">
        <tr class="base-table-row">
            <th>Name</th>
            <th>Race</th>
            <th>Level</th>
        </tr>
        <% @characters.each do |character| %>
        <tr class="base-table-row row-clickable">
        
            <td><%= link_to character.Name, character_path(character) %></td>
            <td><%= character.race.Name %></td>
            <td><%= character.Level %></td>
        </tr>
        <% end %>
    </table>
    <a href="/characters/new" class="text-center">
        <div class="add-redirect">
            +
        </div>
    </a>
</div>